.btn {
    font-size: 1.2rem;
    width: 9vh;
    height: 8vh;
    margin: .5vh;
    border-radius: 50%;
    box-shadow: 2px 2px rgb(179, 177, 177);
    cursor: pointer;
}

.btn0 {
    width: 20vh;
    border-radius: 4vh;
}